<!DOCTYPE html>
<html>
<head>
<style>
body {font-family:Segoe UI;background:#f1f3f4;padding:20px;}
.card {background:white;padding:15px;margin-bottom:15px;border-radius:10px;}
</style>
</head>
<body>

<h1>Admin Dashboard</h1>

<div class="card">Total Users: {{ total_users }}</div>

<div class="card">
Average Rating: ⭐ {{ avg }}/5  
<br>Performance: {{ percent }}%
</div>

<div class="card">
<h3>Users</h3>
<ul>
{% for u in users %}
<li>{{u[0]}}</li>
{% endfor %}
</ul>
</div>

<div class="card">
<h3>Ratings</h3>
<ul>
{% for r in ratings %}
<li>{{r[0]}} → ⭐ {{r[1]}}</li>
{% endfor %}
</ul>
</div>

</body>
</html>
